@import "tailwindcss";

* {
	font-family: "handone-handwritten", sans-serif;
}

@font-face {
	font-family: "handone-handwritten";
	src: url("/fonts/handone-handwritten/HandoneMedium.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

.handone {
	font-family: "handone-handwritten", sans-serif;
}
